:root {
  --mainFont: "Inter", sans-serif;
  --primaryColor: #f4511e;
  --black: #000000;
  --white: #ffffff;
  --grey: #18191f;
  --lightGrey: #818181;
}

html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

header {
  max-width: 1200px;
  color: var(--white);
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin: 0 auto;
  border-bottom: 0.5px solid #fff;
  z-index: 3;
}

.menu-container {
  width: 600px;
  height: 100%;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-items {
  text-decoration: none;
  color: var(--white);
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 12px;
  text-align: center;
  width: 90px;
  padding-bottom: 1.2rem;

  position: absolute;
  top: 3rem;
}

.fa-bars {
  justify-self: flex-end;
  align-self: flex-end;
  visibility: hidden;
}

.active {
  border-bottom: 3px solid #fff;
}

main {
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
}

.landing-page {
  min-height: 100vh;
  background-image: url("/files/images/etienne-beauregard-riverin-B0aCvAVSX8E-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.landing-page::after {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
  content: " ";
  z-index: 1;
}

.landing-page-contents {
  position: relative;
  max-width: 1200px;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 3;
}

h1 {
  font-family: var(--mainFont);
  font-style: normal;
  font-weight: 700;
  font-size: 52px;
  line-height: 70px;
  letter-spacing: -1px;
  text-transform: capitalize;
  color: var(--white);
  width: 600px;
}

.map {
  width: auto;
  height: 320px;
  margin-bottom: 21px;
  box-shadow: 0px 0px 18px 3px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
}

iframe {
  border-radius: 15px;
}

form {
  background: var(--white);
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 15px;
  box-sizing: border-box;
  width: auto;
}

.search-drop {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 28px;
  letter-spacing: 0.2px;
  color: #252b42;
  padding: 1rem 0.4rem;
  box-sizing: border-box;
  cursor: pointer;
}

.search-icon-wrapper {
  width: 100%;
  border: 1px solid #e6e6e6;
  border-radius: 0px 5px 5px 0px;

  padding: 1.2rem;
  background-color: #23a6f0;
}

.fa-search {
  cursor: pointer;
  color: var(--white);
}

.features-content-container {
  max-width: 1200px;
  margin: 0 auto;
}

.features-header {
  margin-left: 3rem;
  font-family: var(--mainFont);
  font-style: normal;
  font-weight: 800;
  font-size: 36px;
  line-height: 64px;
  text-align: left;
  text-transform: capitalize;
  font-feature-settings: "salt" on, "liga" off;

  color: #18191f;
}

.underline {
  border-bottom: 3px solid #f4511e;
}

.features-contents {
  display: flex;
}

.features-card-container {
  margin-top: 5%;
  width: 1000px;
  display: flex;
  flex-wrap: wrap;
}

.feature-card {
  flex: 0 0 calc(33.3%);
}

.feature-icon {
  background: #ffffff;
  box-shadow: 0px 12px 19px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  padding: 22px 20px;
}

.feature-headline {
  font-family: var(--mainFont);
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
  text-transform: capitalize;
  font-feature-settings: "salt" on, "liga" off;

  color: #18191f;
}

.properties-list {
  background-color: #f5f5f5;
  padding: 60px 150px;
}

.properties-list-section-header {
  display: flex;
  justify-content: space-between;
}

.properties-header {
  font-family: var(--mainFont);
  font-style: normal;
  font-weight: 800;
  font-size: 36px;
  line-height: 64px;

  text-transform: capitalize;
  font-feature-settings: "salt" on, "liga" off;
  color: #18191f;
  margin: 0;
}

.view {
  float: right;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 23px;
  text-align: center;
  color: #ffffff;
  background: var(--primaryColor);
  box-shadow: 0px 20px 13px rgba(248, 90, 71, 0.035),
    0px 8.14815px 6.51852px rgba(248, 90, 71, 0.0274815),
    0px 1.85185px 3.14815px rgba(248, 90, 71, 0.0168519);
  border-radius: 5px;
  cursor: pointer;
  padding: 0 34px;
  border: 0;
  outline: 0;
}
